{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "rules": {
    "prefer-destructuring": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "jsx-quotes": [
      "error",
      "prefer-single"
    ]
  },
  "settings": {
    "import/extensions": [
      ".js"
    ],
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.local.js"
      }
    }
  },
  "plugins": [
    "eslint-plugin-react"
  ]
}
