.elzear-sidebar {
    background-color: #FEC;
    width: 190px;
    /*bottom: 0;*/
    top: 160px;
    position: absolute;
}

.elzear-sidebar a {
    background-color: #CFE;
    margin: 15px auto;
    display: block;
}
